<!DOCTYPE html>
<html>
    <body>
        <form action="" method="post">
            <h1> 게시판 페이지 </h1>
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <script>alert('{{ message }}')</script>
                </div>
                {% endfor %}
            {% endif %}
            <p>{{ request.session.name }} ({{ request.session.email }})님
            <button type="submit" value="세션삭제1" name="action">로그아웃</button></p> 
        </form>
        <form action="{% url 'search' %}" method="get">
            <input type="search" name="search" placeholder="Search...">
            <button type="submit">검색</button>
        </form>
        <table border="1">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            {% for list in boards %}
            <tr>
                <td align="center" width="50">{{ list.0 }}</td>
                <td width="200"><a href="view?id={{ list.0 }}">{{ list.1 }}</a></td>
                <td width="200">{{ list.2 }}({{ list.3 }}) </td>
                <td align="center" width="110">{{list.4|date:"y.m.d"}} {{list.4|time:"H:i"}}</td>
                <td align="center" width="50">{{list.5}}</td>
            </tr>
            {% endfor %}
        </table>
        <button onclick='location.href="/board/write"'>게시글 작성</button>
    </body>
</html>